body {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 280px;
}
a:hover {
    text-decoration: none;
}
.club-logo-img-mini {
    max-height: 30px;
    max-width: 30px;
}
.club-logo-icon-mini {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.club-logo-icon-large {
    font-size: 26px;
}
.user-photo-mini {
    max-height: 30px;
    max-width: 25px;
}
.user-avatar-mini {
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.user-avatar {
    font-size: 300px;
}
.admin-panel-icon {
    font-size: 20px;
    margin-right: 10px;
}
.admin-panel-icon-edit {
    color: orange;
}
.admin-panel-icon-delete {
    color: red;
}
.add-new-button {
    margin: 10px;
}
.contact {
    margin: 20px;
}
.contact a{
    padding: 15px;
    border: solid 1px black;
    border-radius: 20px;
    display: inline-block;
}
#sendMessageForm {
    display: none;
    margin-bottom: 40px;
}
.messages-box {
    padding: 13px 18px 5px 18px;
    border: solid 1px;
    border-radius: 20px;
}
.message-sender {
    float: right;
}
.message-receiver {
    float: left;
}
.message-date {
    font-size: 12px;
}
.inline-block {
    display: inline-block;
}