@{
    ViewBag.Title = "Home Page";
}


    <div class="jumbotron mt-30">
        <h1 class="text-center">ClubManager</h1><h3 class="text-center">System wspomagający zarządanie klubem piłkarskim</h3>
        <p class="lead mt-40">Prowadzenie nawet najmniejszego klubu sportowego wymaga dużo czasochłonnej pracy. Zdajemy sobie z tego sprawę i dlatego stworzyliśmy system ClubManager, który pomoże ci zarządzać twoim klubem, jego członkami oraz wspomoże pracę jego pracowników. Z systemu możesz korzystać kiedy tylko chcesz i gdziekolwiek jesteś, gdyż działa on także na przeglądarce twojego smartfonu.</p>
        @if (!User.Identity.IsAuthenticated)
        {
            <p class="text-center m-50">@Html.ActionLink("Zarejestruj się już teraz", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-success btn-lg" })</p>
        }
        else if (!User.IsInRole("Admin") && !User.IsInRole("Manager") && !User.IsInRole("Coach") && !User.IsInRole("Player"))
        {
            <div class="mt-50 text-center">
                @Html.ActionLink("Załóż swój klub", "Create", "Club", new { }, new { @class = "btn btn-success btn-lg" })
            </div>
        }
    </div>

<div class="row">
    <div class="col-md-6">
        <h2></h2>
        <p>

        </p>
    </div>
    <div class="col-md-6">
        <h2></h2>
        <p>

        </p>
    </div>
</div>