@model IEnumerable<ClubManager.Models.Exercise>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center m-30">Ćwiczenia</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("Coach"))
{
    <p>
        @Html.ActionLink("Dodaj ćwiczenie", "Create", new { }, new { @class = "btn btn-success add-new-button" })
    </p>
}

<table class="table table-hover">
    <tr>
        <th>
            Nazwa ćwiczenia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.ID })
            </td>
            <td class="text-center">
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit admin-panel-icon admin-panel-icon-edit" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fas fa-trash admin-panel-icon admin-panel-icon-delete" })
                }
            </td>
        </tr>
    }

</table>
